body {
    background-color: #457B9D;
}

h1 {
    color: #F1FAEE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

#submit {
    padding: 30px;
}

.card {
    background-color: #457B9D;
}