body {
    background-color: #557770;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

.blurb h2 {
    color: #EEA41D;
    font-weight: 300;
    font: 2.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EEA41D;
}

#mainNavbar .navbar-brand {
    color: #EEA41D;
}

#heading-group span {
    color: #EEA41D;
}

#heading-group h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #heading-group h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

.blurb p {
    color: #D5F2E3;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar.scrolled {
    background-color: #8899A7;
    transition: background 500ms;
}

footer {
    background-color: #8899a794;
    color: white;
}